.button {
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    color: white;
    max-width: 100px;
    height: 50px;
}

button:focus {
    outline: 0;
}