.credits-button {
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    margin-left: 0;
    text-align: center;
    color: white;
    background-color: #336B87;
    max-width: 150px;
    cursor: pointer;
 }

.credits-graphcms-logo {
    width: 100px;
}