.help {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    align-items: flex-start;
    margin-top: -10px;
}

.contact_button {
    border: none;
    color: #6f256f;
    cursor: pointer;
    padding: 0;
    margin: 10px 0;
    border-bottom: 1px solid #6f256f;
}

.help-heading {
    margin-bottom: -5px;
}