@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.dropdown {
    position: relative;
}

.dropdown:nth-child(2) {
    background-color: lightgrey;
}

.icon {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}

.dropdown-container {
    position: relative;
}

.dropdown-content {
    position: absolute;
    z-index: 10;
    background-color: white;
    border: 1px solid lightgrey;
    list-style: none;
    width: 230px;
}

.input-large {
    width: 121px; /* input has a built in 2px border on each side */
    padding-left: 5px; /* plugin css adds padding to width, so inout large takes 160px space */
    padding-right: 30px; /* to give space for span check icon */ /* plugin css adds padding to width, so inout large takes 160px space */
}

.input-large-tooltip {
    display: none;
    position: fixed;
    margin-top: 20px;
    z-index: 10;
    width: 140px;
    background-color: #F5D2CB;
    color: #000;
    border-radius: 6px;
}

.dropdown:hover .input-large-tooltip {
    display: inline-block;
}

.dropdown-item{
    list-style: none;
    padding: 5px 10px;
}

.dropdown-item:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.dropdown-no-item {
    padding: 5px 10px;
    background-color: lightgrey;
}