.nutrition-container{
    display: flex;
    text-align: center;
    width: 400px;
    max-width: 500px;
    align-content: stretch;
}

.nutrition-container:nth-child(even) {
    background: #e5e6e8;
}

.nutrition-data {
    /* width: 50px; ändrat till align-content */
    padding: 0 5px;
    width: 100%;
    border-right: 1px solid lightgrey;
    /*font-size: 14px;    lägger i body  */
}



