.table-total-row {
    display: flex;
    background-color: #F5D2CB;
    color: grey;
    font-weight: 500;
    text-align: center;
}

.total-receipt {
    width: 450px;
    text-align: right;
}

.total-nutrition {
    width: 70px;
}