.table-total-row {
    display: flex;
    background-color: rgb(111, 37, 111);
    color: white;
    font-weight: 400;
    text-align: center;
    align-items: center;
    min-height: 20px;   /* magic */
}

.total-receipt {
    width: 400px;
    text-align: left;
    padding-left: 10px;
}

.total-nutrition {
    /* width: 70px; ändrat till align-content nedan */
    width: 100%;
    overflow: hidden; /* cut too long words (a long word will not obey width 100%) */
    min-width: 40px; /* big amounts must fit inside the div */
    font-size: 10px;
}

.total-nutrition-container {
    display: flex;
    text-align: center;
    width: 400px;
    align-content: stretch;
}