.table-header-row {
    display: flex;
    background-color: #336B87;
    color: white;
    font-weight: 500;
    text-align: center;
    align-items: center;
    height: 40px;
}

.header-receipt {
    width: 45px;
}

.header-receipt:nth-child(1) {
    width: 140px;
}

.header-receipt:nth-child(4) {
    width: 170px;
}

.header-nutrition {
    /* width: 50px; ändrat till align-content nedan */
    width: 100%;
    overflow: hidden; /* cut too long words (a long word will not obey width 100%) */
}

.header-nutrition-container {
    display: flex;
    text-align: center;
    width: 400px;
    align-content: stretch;
}


/* Total: 45 + 45 + 140 + 170 + 400 = 800 */