.table-row {
    display:flex;
    align-items: center;
}

.table-row:nth-child(even) {
    background-color: #e5e6e8;
}

.table-row:last-child {
    border-bottom: 1px solid lightgrey;
}

.receipt-row {
    width: 180px;
    padding-left: 5px;
    font-size: 12px;
}

.input-small {
    width: 45px;
    padding-left: 5px;
}

.input-large {
    width: 230px;
    padding-left: 5px;
}


