.table-header-row {
    display: flex;
    background-color: #336B87;
    color: white;
    font-weight: 500;
    text-align: center;
    align-items: center;
    height: 40px;
}

.header-receipt {
    width: 40px;
}

.header-receipt:nth-child(1) {
    width: 140px;
}

.header-receipt:nth-child(4) {
    width: 160px;
}

.header-nutrition {
    width: 100%;
}

.header-nutrition-container {
    display: flex;
    text-align: center;
    width: 400px;
    align-content: stretch;
}


/* Tooltip container */
.header-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #F5D2CB; /* dots under the hoverable text */
}

/* Tooltip text */
.header-tooltip .header-tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: lightgray;
    color: #000;
    text-align: left;
    padding: 10px;
    border-radius: 6px;

    /* Position of the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -30px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.header-tooltip:hover .header-tooltiptext {
    visibility: visible;
}