
.header-part {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.portions-div {
    display: flex;
    align-items: flex-end;
}

.portions-text {
    margin: 0 5px 0 0 ;
}

h1 {
    margin-bottom: 5px;
    font-size: 1.7rem;
    color: slategrey;
}