
.App {
    max-width: 100%;
    padding: 10px;
}

.header-part {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.app-heading {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: slategrey;
}

.portions-div {
    display: flex;
    align-items: flex-end;
}

.portions-text {
    margin: 0 5px 0 0 ;
}
