
.App {
    max-width: 100%;
    padding: 10px;
}

.use-extension-info {
    display: flex;
    flex-direction: column;
}

.header-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-heading {
    font-weight: 500;
    font-size: 1.7rem;
    color: slategrey;
}

.portions-div {
    display: flex;
    align-items: flex-end;
}

.portions-text {
    margin: 0 5px 0 0 ;
}

.contact_link {
    border: none;
    color: #6f256f;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
}
