html {
  max-width: 800px;
  max-height: 350px;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.8px; /* magic */
  height: 350px;
  width: 800px; /* table plus padding and scroll */
}

